# Solid
solid_oidc_client>=0.0.4
rdflib>=7.0.0
# UI
streamlit>=1.31.0
streamlit-oauth>=0.1.6
# Message history and server communication
langchain>=0.1.0
langchain-core>=0.1.17
requests>=2.28.2
# Example provider
langchain-openai>=0.0.5
# Misc
python-dotenv